<div class="page2">
    <div class="row-12">
        <div class="p-3 mb-2 redline-upper"></div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class=" col display-5 font-weight-bold text-nowrap  text">WHO ARE WE?</h1>
        </div>
    </div>

        <div class="row">   
            <div class="col col-sm- col-lg-1">
                <img class=""  src="" alt="">
                <p href="" class=""></p>
            </div>
            <div class="col col-sm-12 col-lg-5 whoweare-pic">
                    <img class="" style="width: 400px; height: 500px; object-fit: cover; object-fit: 100%;" src="../../assets/Br-whoweare.jpg" alt="">
            </div>
            
            <div class="col col-sm-12 col-lg-6 font-weight-bold whoweare-bio">
                <p>Wayne started in the lather interior systems mechanic trade in the late 70's, part of the carpenters union. When overnight the union crashed in the 85 and wages were cut in half, Wayne started the company called B&R wall and ceiling system. The "B" was from his last name with his apprentice's last name "R". I started working for my dad when I was 12 years old and after high school, I was working full time. I gained the experience I needed to run jobs and eventually started doing the bidding to the point that I was running the company. My dad has now retired and still answers any questions I need. Going forward in the world we live in, we used to do all commercial work in building chain stores and offices, but I have had a lot of opportunities in doing residential in new builds and renovations. Going forward in the future I am starting to become a general contractor. I have met a lot of good trades people that have branched off after getting their journeyman tickets to running their own companies and have a good family like relationship with them.</p>
            </div>
            
        </div>    
</div>