<div class="page5">
    <div class="row-12">
        <div class="p-3 mb-2 redline-upper"></div>
    </div>
    <div class="row getintouch">
        <div class=" col col-sm-12 col-lg-6">
            <h1 class="display-5 font-weight-bold text-white">GET IN TOUCH</h1>
            <br>
            <h5 class="h5-tags text-nowrap font-weight-bold">Mailing Address</h5>
            <p class="p-tags  font-weight-bold">51124 R.R 224, Sherwood park, Alberta, T8C-1H1</p>
            <br>
            <h5 class="h5-tags font-weight-bold">Email Address</h5>
            <p class="p-tags">steven@brwallandceiling.com</p>
            <br>
            <h5 class="h5-tags font-weight-bold">Phone Number</h5>
            <p class="p-tags font-weight-bold">(780) 245-1301</p>
            <br>
        </div>
        
        <div class="col col-sm-12 col-lg-6 text-nowrap">
            <h1 class="display-5 upload-resume" >
                <a href="steven@brwallandceiling.com" class="text-white">UPLOAD RESUME</a>
            </h1>
        </div>
    </div>
   
</div>