    <div class="row">
        <div class="col video">
            <video class="col-12"   autoplay loop>
                <source src="../../assets/B&R (1).mp4" type="video/mp4" />
                <source src="../../assets/B&R (1).mp4" type="video/ogg" />
            </video>
        </div>   
    </div>
