<div class="page3">
    <div class="row-12">
        <div class="p-3 mb-2 redline-upper"></div>
    </div>
    <div class="row">
        <div class="col whatweoffer">
            <h1 class="display-5 font-weight-bold text-nowrap text">WHAT DO WE OFFER?</h1>
        </div>
    </div>


    <div class="row tag-links">
        <div class="col  col-lg-1">
            <img class=""  src="" alt="">
            <p href="" class=""></p>
        </div>
        <div class="col a-ref">
            <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial.jpg" alt="COMMERCIAL">
            <p href="" class="font-weight-bold a-ref">COMMERCIAL</p>
        </div>

        <div class="col font-weight-bold">
            <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/Residential.jpg" alt="RESIDENTIAL">
            <p href="" class="font-weight-bold a-ref">RESIDENTIAL</p>
        </div>
        <div class="col  col-lg-1">
            <img class=""  src="" alt="">
            <p href="" class=""></p>
        </div>
    </div>
</div>

