<div class="">
    <div class="row-12">
        <div class="p-3 mb-2 redline-upper"></div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="display-5 font-weight-bold text-gallery">GALLERY</h1>
        </div>
    </div>

    <div class="row">
      <div class="col">
          <h1 class="display-5 font-weight-bold whatweoffercomercial">COMERCIAL</h1>
      </div>
  </div>

  <div class="row " id="gallery">
    <div class="col-12 col-sm-6 col-lg-3">
      <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial (1).jpg">
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial (2).jpg">
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img class="w-100  rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial (3).jpg">
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial (4).jpg">
    </div>
  </div>

  <div class="row">
    <div class="col">
        <h1 class="display-5 font-weight-bold whatweofferresidential">RESIDENTIAL</h1>
        <h3 class="display-5 font-weight-bold whatweofferresidential">BEFORE AND AFTER</h3>
    </div>
</div>

<div class="row " id="gallery">
  <div class="col-12 col-sm-6 col-lg-3">
    <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial (1).jpg">
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial (2).jpg">
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <img class="w-100  rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial (3).jpg">
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial (4).jpg">
  </div>
</div>


    <div class="row " id="gallery">
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/westedmall-old (1).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/westedmall-old (2).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100  rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/westedmall-old (3).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/westedmall-old (5).jpg">
      </div>
    </div>

    <div class="row " id="gallery">
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/westedmall-old (4).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/westedmall-old (6).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100  rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/westedmall-old (7).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/westedmall-old (8).jpg">
      </div>
    </div>

    <div class="row " id="gallery">
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/canada goose (1).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/canada goose (2).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100  rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/canada goose (3).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/canada goose (4).jpg">
      </div>
    </div>

    <div class="row " id="gallery">
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/canada goose (5).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/canada goose (6).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="w-100  rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/canada goose (7).jpg">
      </div>
      <!-- <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="">
      </div> -->
    </div>

    <div class="row " id="gallery">
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/jump (1).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/jump (2).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="w-100  rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/jump (3).jpg">
      </div>
      <!-- <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="">
      </div> -->
    </div>

    <div class="row " id="gallery">
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/soft moc (1).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/soft moc (2).jpg">
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="w-100  rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/browns.jpg">
      </div>
      <!-- <div class="col-12 col-sm-6 col-lg-3">
        <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="">
      </div> -->
    </div>
    
</div>